<h1>Welcome to Snailrazor</h1>
<p>Well that guy, he said, he said, go on.. do it. Suck that dick, I don't care.</p>
<p>We raise hell, so call us hellraisers. We blaze trails, so call us trailblazers. Better yet, call us <em>Snailrazor</em>.</p>
