body {
  font-family: Georgia;
  font-size: 1.5em;
  width: 60%;
  margin: 0 auto;
}
header {
  text-align: center;
  font-size: 4em;
  color: #CCC;
  text-shadow: 2px 2px 2px #999;
}
nav {
  text-align: center;
  ul {
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
    li {
      a {
        color: #666;
        font-style: italic;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          color: #999;
        }
      }
    }
  }
}
#main {

}
footer {

}
